In [11]:
# INPUT .... 
# sTRING , NUMBER

# my_nameaksdjashdjashdljsahdklajlajslkfdajlkfhalksdhlksahd = "My Name is Masad"
# my_age = 25

# SCHOLL 

# x = 12
# y = "12"

# print(my_nameaksdjashdjashdljsahdklajlajslkfdajlkfhalksdhlksahd)


original_num = 23
new_num = original_num + 7
print(new_num)

30

In [1]:
print("Hello world")

Hello world

In [30]:
# original_num = 23
# new_num = original_num + 7
# print(new_num)

# num = .075
# total = num + 200
# print(total)

#  KEYWORDS

# return1 = "Masad"

# for123 = 'lasda'


# age = 5
# age = age + 1
# print("print first age", age)

# Wrong way
#    "unit_in_cm" = 'cm'  
# unitInCm  = ''
# unit_in_cm = 'asdsa'

# 2 = "My name"

# age = 4
# age = age + 1

# age += 1

# print("print second age", age)

#my_input  = int(input("please enter a number")) 
#total_cost = 1 + my_input
#print(total_cost)
#print(my_input)

greeting = "Hello"
addressee = 24

print(greeting ,addressee)

Hello 24

In [11]:
# stringVar = "4 / 2"

# numberVar = 4 / 2 


# print(stringVar)
# print(numberVar)

#myNum = 2 + 2

######################## CAMEL CASE #########################
firstValue = "1000"
########################## SNAKE CASES #####################
first_value = "10000"


#my house back door
# myHouseBackDoorWidth = 23


# myHouseBackDoorWidth = 24


# secondValue = 23

# result = firstValue + secondValue

# print (result)


# age = 24

# print(age)

# age = age + 1

# print(age)

# age += 25

# print(age)

24
25
50

In [13]:
total_cost = 1 + 3 * 4

print(total_cost)

total_cost2 = (1 + 3) * 4

print(total_cost2)

13
16

In [1]:
print("hello worl")

hello worl

In [14]:
# AGER bARISH HOI TOH MEI BAHR JEOGA 

#is_rain = True 
# BOOLEAN 
# STRING
# NUMBER

# PERFORMANCE 
#{}  ; 
# is_rain = False  


# if is_rain:
#     print("I 'll go outsute")
# else:
#     print("will not go outsite")


# name = "Masad"

# if name != "Masad":
#     print("my name is not masad")

# name = "Waqar"

# if name  == "Masad":
#     print("my name is masad")
# elif name == "Waqar":
#     print("my name is waqar")
# else:
#     print("no name found")
    

 # Compare ==
 # No equal !==
 # >
 # <

# age = 24

# if age < 24:
#    print("names")   

gang_name = "Mafia"
gang_name_boy1 = "XY"
gang_name_boy2 = "YZ"


if gang_name == "Mafia":
    if gang_name_boy1 == "XY":
        print("")
        print("Boy Found")

my name is waqar