In [11]:
# INPUT .... 
# sTRING , NUMBER

# my_nameaksdjashdjashdljsahdklajlajslkfdajlkfhalksdhlksahd = "My Name is Masad"
# my_age = 25

# SCHOLL 

# x = 12
# y = "12"

# print(my_nameaksdjashdjashdljsahdklajlajslkfdajlkfhalksdhlksahd)


original_num = 23
new_num = original_num + 7
print(new_num)

30

In [1]:
print("Hello world")

Hello world

In [30]:
# original_num = 23
# new_num = original_num + 7
# print(new_num)

# num = .075
# total = num + 200
# print(total)

#  KEYWORDS

# return1 = "Masad"

# for123 = 'lasda'


# age = 5
# age = age + 1
# print("print first age", age)

# Wrong way
#    "unit_in_cm" = 'cm'  
# unitInCm  = ''
# unit_in_cm = 'asdsa'

# 2 = "My name"

# age = 4
# age = age + 1

# age += 1

# print("print second age", age)

#my_input  = int(input("please enter a number")) 
#total_cost = 1 + my_input
#print(total_cost)
#print(my_input)

greeting = "Hello"
addressee = 24

print(greeting ,addressee)

Hello 24

In [11]:
# stringVar = "4 / 2"

# numberVar = 4 / 2 


# print(stringVar)
# print(numberVar)

#myNum = 2 + 2

######################## CAMEL CASE #########################
firstValue = "1000"
########################## SNAKE CASES #####################
first_value = "10000"


#my house back door
# myHouseBackDoorWidth = 23


# myHouseBackDoorWidth = 24


# secondValue = 23

# result = firstValue + secondValue

# print (result)


# age = 24

# print(age)

# age = age + 1

# print(age)

# age += 25

# print(age)

24
25
50

In [13]:
total_cost = 1 + 3 * 4

print(total_cost)

total_cost2 = (1 + 3) * 4

print(total_cost2)

13
16

In [1]:
print("hello worl")

hello worl

In [14]:
# AGER bARISH HOI TOH MEI BAHR JEOGA 

#is_rain = True 
# BOOLEAN 
# STRING
# NUMBER

# PERFORMANCE 
#{}  ; 
# is_rain = False  


# if is_rain:
#     print("I 'll go outsute")
# else:
#     print("will not go outsite")


# name = "Masad"

# if name != "Masad":
#     print("my name is not masad")

# name = "Waqar"

# if name  == "Masad":
#     print("my name is masad")
# elif name == "Waqar":
#     print("my name is waqar")
# else:
#     print("no name found")
    

 # Compare ==
 # No equal !==
 # >
 # <

# age = 24

# if age < 24:
#    print("names")   

gang_name = "Mafia"
gang_name_boy1 = "XY"
gang_name_boy2 = "YZ"


if gang_name == "Mafia":
    if gang_name_boy1 == "XY":
        print("")
        print("Boy Found")

my name is waqar

In [13]:

city_1 = 'Karachi'
city_2 = 'Lahore'
city_3 = 'Hydrabad'
city_4 = 'Sukkhar'


## LIST 
cities = ['karachi','Lahore', 'Hybdrabad', 'Sukkhar', True, 2424.24 ]

print(len(cities))
print(cities[5])

6
2424.24

In [24]:
## LIST 
city_4 = ['Sukkhar']

cities = ['karachi','Lahore', 'Hybdrabad', 'Sukkhar', True, 2424.24 ]

#display(cities[len(cities) - 3 ])


my_input =  int(input("Plesae enter your city ")) 



cities.append(my_input)

print(cities)



#print(cities)

#display()

#display(cities[len(cities) - 1])

['karachi', 'Lahore', 'Hybdrabad', 'Sukkhar', True, 2424.24, 'Newyork']

In [36]:
#list_1 =  [1232,432142,23432,'masad','home']
list_2 = ['java','python','c++','php']
        # 0      1         2      3        
 #list_2.append("javscript")
#display(list_2)
                #
                
display(len(list_2))

list_2.insert(len(list_2) ,['javascript','html','css'])

display(list_2)

4

['java', 'python', 'c++', 'php', ['javascript', 'html', 'css']]

In [45]:
cities = ["Atlanta", "Baltimore", "Chicago",
"Denver", "Los Angeles", "Seattle"]
# my_new_cities = cities[2:]

# print(my_new_cities)
# print(cities)

['Chicago', 'Denver', 'Los Angeles', 'Seattle']
['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Los Angeles', 'Seattle']

In [49]:
cities = ["Atlanta", "Baltimore", "Chicago",
"Denver", "Los Angeles", "Seattle"]


#del cities[2]
removed_cities = cities.pop(4)

#cities.remove("Los Angeles")

display(cities)
display(removed_cities)




#please enter your task 1 
#please enter your task 2 
#please enter your task 3 
#please enter your task 4

#save these 4 task on a list 
# display task list

# for pop please enter pop or for delete plese enter delete

### pop  ### delete

# please enter number of task

# print final list

['Atlanta', 'Baltimore', 'Chicago', 'Denver', 'Seattle']

'Los Angeles'